@import '../../style/variables.scss';

.profile {
  display: flex;
  flex-direction: column;   
  height: 100%;
  width: 25%;   
  &__avatar {
    width: fit-content;
    margin-top: 40px;    
    &-img {
      display:block;
      width: 280px;
      height: 280px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name {
    margin-top: 28px;
    font-size: $fname;
    font-weight: 600;
    line-height: 130%;
    color: $black;    
    width: fit-content;
  }
  &__login {
    margin-top: 12px;
    width: fit-content;
    font-size: $flogin;
    font-weight: 400;
    line-height: 22px;
    color: $blue;
    text-decoration: none; 
  }
  &__amount {
    display: flex;
    flex-direction: row;
    margin-top: 25px; 
    width: fit-content;
    height: fit-content;  
    gap: 16px;    
    &_follower,
    &_following {
      display: flex;
      flex-direction: row;
      font-size: $fp;
      font-weight: 400; 
      line-height: 24px;
      &::before {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        content: '';        
        background-size: cover;
        background: url('../../../public/assets/shared.svg');                
      }  
    }
    &_following::before {
      background: url('../../../public/assets/private.svg'); 
    }
  }
}