@import '../../style/variables.scss';

.user {
  display: flex;
  flex-direction: row;     
  width: 100%; 
  height: 100%;  
  align-self: start; 
  background-color: $back; 
  gap: 84px;
}

@media (max-width: 1024px) {
  .user {    
    flex-direction: column;     
    width: 100%; 
    height: 100%;  
    align-self: start;
    gap: 0px;
  }
}