@import '../../style/variables.scss';

.paginate {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: $fs;
  font-weight: 400;
  line-height: 21px;
  &__left,
  &__right {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
    &_arrow {
      width: 18px;
      height: 18px;     
    }
  }
  &__left_arrow {
    background: url("../../../public/assets/arrow-left.svg");
    &:hover {
      background: url("../../../public/assets/arrow-left-blue.svg");
    }
  }
  &__right_arrow {
    background: url("../../../public/assets/arrow-right.svg");
    &:hover {
      background: url("../../../public/assets/arrow-right-blue.svg");
    }
  }
  
  &__numbers {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 9px;
    justify-content: space-between;

    &>div {
      text-align: center;
      height: 24px;
      line-height: 24px;
      width: 21px;
      color: $gray;      
    }

    .active {
      background-color: $blue;
      border-radius: 3px;
      color: $front;
    }

    .invisible {
      display: none;
    }

    .cursor {
      cursor: pointer;
    }
  }
}