@import '../../style/variables.scss';

.repository {
  display: flex;
  flex-direction: column; 
  background-color: $front;
  width: calc(100% - 64px);
  padding: 24px 32px;
  border-radius: 6px;  
  gap: 16px;
  justify-content: space-between;
  &__name {
    display: block;
    font-size: $fh2;
    line-height: 29px;
    font-weight: 500;
    text-decoration: none;
    color: $blue;  
  }
  &__description {
    font-size: $fp;
    min-height: 19px;
    line-height: 19px;
    font-weight: 400;
    color: $black;
  }
}

@media (max-width: 1024px) {
  .repository {    
    padding: 20px 28px;   
    width: calc(100% - 56px); 
  }
}
@media (max-width: 768px) {
  .repository {    
    padding: 20px 20px;
    width: calc(100% - 40px);
  }
}