@import '../../style/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  background-color: $blue;
  width: 100%;
  height: $header;
  align-items: center;  
  &__logo {
    margin-left: 41px;    
    margin-right: 22px;
    display: flex;
    height: 40px;  
    width: 41px;    
    background: url("../../../public/assets/github.svg");   
    background-size: cover;
    cursor: pointer;
  }
}