/*-------color------*/
$black: #000000;
$blue: #0064eb;
$gray: #808080;

$back: #e5e5e5;
$front: #ffffff;

/*-------fonts------*/
$fh1: 32px;
$fh2: 24px;
$fd: 22px;
$fp: 16px;
$fs: 14px;

$fname: 26px;
$flogin: 18px;

/*-------value------*/
$header: 72px;

