@import '../../style/variables.scss';

.search {
  display: flex;
  background-color: #ffffff;
  width: 472px;
  height: 24px;      
  padding: 8px 14px;
  border-radius: 6px;   
  align-items: center;      
  &__text {     
    display: block; 
    font-size: $fp;    
    padding-left: 6px;
    height: 100%; 
    width: 100%;    
  }  
  &::before {
    position: relative; 
    content: '';   
    width: 24px;
    height: 24px; 
    background: url('../../../public/assets/search.svg');    
    background-size: cover;
  } 
}

@media (max-width: 640px) {
  .search {
    width: calc(100% - 160px);
    margin-right: 0px;   
  }
}

@media (max-width: 486px) {
  .search {
    width: calc(100% - 140px);
    margin-right: 0px;   
  }
}