.paginator {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  margin-top: 26px;  
  margin-right: 16px;
  padding-bottom: 28px;
  gap: 16px;
  align-self: flex-end;
}